
/* Estilo para la página de login */
.login-page {
    height: 97vh;  /* 100% de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;  /* Ocupa el 90% de la pantalla */
    background-color: #111;
    color: #fff;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;  /* Espacio interno para que no se pegue al borde */
    gap: 90px;
    overflow: hidden;  /* Evita que haya scroll en el cuerpo */

}

/* Estilo para el título */
.login-title {
    font-size: 2.5rem;
    margin: 40px 0;
    text-align: center;

}

/* Estilo de los contenedores de input */
.login-container {
    gap: 30px;
    display: grid;
    width: 80%;
    max-width: 900px;
    align-items: center ;
    justify-items: center;
}

/* Estilo del mensaje de error */
.error-message {
    color: var(--color-error);
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content(100%);
}

.bit-input{
    width:100%   !important;
    background-color: aquamarine;
    
}
.bit-password{
    width: 100%   !important;
    
    
}