.leaderboard-container {
  width: 95%;
  padding: 25px;
  margin: 20px auto;

  text-align: center;
  font-family: "Press Start 2P";
  color: #fff;
}

.leaderboard-header {
  font-size: 2rem;
  color: #0f0;
  text-shadow: 0 0 8px #0f0;
  margin-bottom: 55px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto 0;
  
}
.box-section {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  flex-direction: row !important;
  align-items: center;
  gap: 0px;
  padding: 15px !important;
  margin: 0;
  box-shadow: 0 0 8px #fff;
  border: 2px solid #fff;
  transition: all 0.2s ease;
  justify-content: space-around;
}

.box-section:hover {
  box-shadow: 0 0 15px #0ff, 0 0 30px #0ff inset;
}


.rank {
  font-size: 18px;
  font-weight: bold;
  width: 10%;
  
}
.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
   box-shadow: 0 0 16px #0ff, 0 0 32px #ea36af, inset 0 0 8px #75fa69;
    border-radius: 10px;
}
.rank.gold { color: #FFD700; }
.rank.silver { color: #C0C0C0; }
.rank.bronze { color: #CD7F32; }

.stats-container {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
}
.username-text{
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
}
.stats-text{
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .rank{
    font-size: 0.7rem;
    width: 20%;
  }
  .stats-container {
    flex-direction: column;
    align-items: center;
    
  }
  .profile-pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0 0 16px #0ff, 0 0 32px #ea36af, inset 0 0 8px #75fa69;
    border-radius: 10px;}
  .username-text{

  font-size: 0.5rem;
  color: #fff;
  margin-left: 10px;
}
.stats-text{
  font-size: 0.7rem;
  color: #fff;
  margin-left: 10px;
}
}
@media (max-width: 400px) {
  .rank{
    font-size: 0.5rem;
    width: 20%;
  }
  .stats-container {
    flex-direction: column;
    align-items: center;
    
  }
  .username-text{
  font-size: 0.5rem;
  color: #fff;
  margin-left: 10px;
}
.stats-text{
  font-size: 0.5rem;
  color: #fff;
  margin-left: 10px;
}
}