@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.leaderboard-container {
  font-family: 'Orbitron', sans-serif;

  color: #ffffff;
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.leaderboard-header {
  text-align: center;
  margin-bottom: 24px;
  color: #4285f4;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



/* Rank styling */
.rank {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 16px;
  color: #f9d342;
  min-width: 48px;
  text-align: center;
}

.rank.gold {
  color: #ffd700;
}
.rank.silver {
  color: #c0c0c0;
}
.rank.bronze {
  color: #cd7f32;
}
.box-section {
  width: 500px;
  padding: 20rem;


}
/* Image styling */
.profile-pic {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-right: 16px;
  object-fit: cover;
}

/* Text styling */
.stats-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username-text {
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
}

.stats-text {
  font-size: 1.1rem;
  color: #4285f4;
}
@media (max-width: 768px){
  .leaderboard-container{
    width: 90%;
  }
}