.bit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #2c2c2c;
  border: 2px solid #333;
  border-radius: 12px;
  color: #ffffff;
  font-size: 1rem;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.05em;
  width: 280px; /* valor por defecto si no se pasa como prop */
  overflow: hidden;
}

.bit-button:hover {
  background-color: var(--color-primary);
  color: #fff;
  
  transform: scale(1.1);
}


.bit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

.bit-button-icon {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.bit-button-text {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  transition: color 0.3s ease;
}
