.bit-button {
  
  background-color: transparent;
  width: 80%;
  overflow: show;
  color: #75fa69; /* verde fosforescente */
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer;
  
  transition: all 0.15s ease-in-out;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 30px;
  flex: 1;
  min-width: 200px;
}

.bit-button:hover {
  transform: translate(1px, 1px);  
  color: #0ff;
}

.bit-button:active {
  transform: translate(3px, 3px);
  box-shadow: none;
  border-color: #fff;
}

.bit-button-text {
  font-family: "Press Start 2P", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  color: #75fa69;
  text-shadow: 0 0 4px #75fa69, 0 0 8px #ea36af;
  z-index: 2;
  
}

/* flicker animación en hover */
@keyframes borderflicker {
  0% {
    box-shadow: 0 0 4px #ea36af, 0 0 8px #75fa69;
  }
  50% {
    box-shadow: 0 0 8px #75fa69, 0 0 16px #ea36af;
  }
  100% {
    box-shadow: 0 0 4px #ea36af, 0 0 8px #75fa69;
  }
}
