/* 📦 Contenedor general */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: #111;
    color: #fff;
    font-family:'Nintendoid1', cursive;
  }
  .logo-title {
    font-family: 'Nintendoid1', 'Press Start 2P', cursive;
    color: #fff;
    text-shadow: 4px 4px 0 #fff, 6px 6px 5px rgba(255, 255, 255, 0.3);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
  }
  /* 📖 Sección principal */
  .presentation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    text-align: center;
    gap: 50px;
  }
  
  /* Título animado */
  .presentation-title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 4px 4px 0 #fff, 6px 6px 5px rgba(255, 255, 255, 0.3);
  }
  
  /* Botones principales */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .bit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    width: 100px;
    height: 50px;
    
  }
  
  /* 📎 Footer */
  .footer {
    padding: 10px 0;
    border-top: 4px solid #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  /* Enlaces del footer */
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #0f0;
  }
  
  /* Iconos de redes */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
 /* 📺 VHS neon flicker para iconos de redes */
.social-icons img {
    width: 25px;
    transition: transform 0.3s ease;
    animation: iconFlicker 0.03s infinite alternate;
    filter: drop-shadow(0 0 1px #ea36af) drop-shadow(0 0 1px #75fa69);
  }
  
  .social-icons img:hover {
    transform: scale(0.8);
    filter: drop-shadow(0 0 3px #ea36af) drop-shadow(0 0 3px #75fa69);
  }
  
  /* 📀 Animación flicker tipo VHS */
  @keyframes iconFlicker {
    from {
      filter: drop-shadow(1px 0 1px #ea36af) drop-shadow(-1px 0 1px #75fa69);
    }
    to {
      filter: drop-shadow(2px 1px 2px #ea36af) drop-shadow(-2px -1px 2px #75fa69);
    }
  }
  
  
  
  /* 📱 Responsive */
  @media (max-width: 768px) {
    .presentation-title {
      font-size: 1.5rem;
    }
  
    .bit-button {
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
  
    .footer-links {
      gap: 12px;
    }
  
    .social-icons {
      gap: 12px;
    }
    .logo-title{
        font-size: 3rem;
    }
  }
  
  @media (max-width: 480px) {
    .presentation-title {
      font-size: 1.2rem;
    }
  
    .footer-links a {
      font-size: 0.65rem;
    }
   
  }
  