.transition-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
 animation-duration: 0.01s;
         animation-name: textflicker;
         animation-iteration-count: infinite;
         animation-direction: alternate;
  transform-origin: top;
  z-index: 1999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transition-container::before{
  background: 
      repeating-linear-gradient(
        to bottom,
        rgba(255,255,255,0.03) 0px,
        rgba(255,255,255,0.03) 2px,
        transparent 2px,
        transparent 4px
      );
    animation: scanlines 0.05s linear infinite;
    z-index: 1999;
}
.transition-container::after{
   pointer-events: none;
    background: rgba(0,0,0,0.05);
    animation: flickerBg 0.3s infinite alternate;
    z-index: 1998;
}

.transition-text {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.2em;
  user-select: none;
  font-family: var(--font-main);
  text-transform: uppercase;
}
 body::before {
    overflow: auto;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    z-index: 999;
  }
  
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  @media screen and (max-width: 768px) {
    .transition-text {
      font-size: 1.4rem;
    }
    
  }
