/* Estilo de los campos de input con el estilo del botón */
.bit-input  {
    width: 100%;
    height: 60px;
    position: relative;
    border-radius: 2px;
    background: #000;
    border: 3px solid #fff;
    color: #fff;
    font-family: "Press Start 2P";
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s, box-shadow 0.3s ease-in-out;
    box-shadow: 6px 6px 0 #fff;
    padding: 2px 24px;

    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bit-input:hover {
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0 #fff;
}

.bit-input:active  {
    transform: translate(6px, 6px);
    box-shadow: 0 0 0 #fff;
}

/* Estilo cuando los input fields están enfocados */
.bit-input.focused{
    border-color: #0f0; /* Verde */
    box-shadow: 3px 3px 0 #0f0;
    color: #0f0;
}

.bit-input.focused input{
    color: #0f0;
}

.bit-input input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: inherit;
    font-weight: bold;
    text-align:  left;
    transition: color 0.3s ease-in-out;
    font-family: "Press Start 2P";
}

.bit-input input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}
