.tutorial-container {
    margin-top: 20vh;
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive; /* Usa alguna fuente pixel si quieres */
    
  }
  .input-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
    flex-wrap: wrap;
    margin-top: 10vh;
    gap: 5rem;

    
  }
  .tutorial-container h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .color-picker {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .color-picker label {
    font-size: 0.6rem;
    font-weight: bold;
    margin-right: 0.5rem;
    display: flex;
    margin-bottom: 0.5rem;
    color: white;
    font-family: 'Press Start 2P', cursive; /* Usa alguna fuente pixel si quieres */
  }
  
  .color-picker input[type="color"] {
    width: 40px;
    height: 30px;
    border: 2px solid white;
    background: black;
    cursor: pointer;
   
  }
  
  /* Para BitInput */
  .bit-input {
       
        width: 400px;
    
  }
  
  /* Para BitButton */
  .bit-button {
    background-color: black;
    color: white;
    border: 3px solid white;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    margin: 1rem 0;
    text-decoration: none;
  }
  
  
  /* Opcional: estilo a todo el input type color */
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  /* Responsive para tutorial */

@media (max-width: 768px) {
  .tutorial-container {
    padding: 1rem;
  }

  .tutorial-container h1 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  } .input-container {
    flex-direction: row;
    gap: 3rem;
    margin-top: 10vh;
  }

  .bit-input {
    width: 100%;
    max-width: 250px;
  }

  .bit-button {
    padding: 0.7rem 1.2rem;
    font-size: 0.8rem;
    width: 80%;
  }


  .color-picker label {
    font-size: 0.8rem;
  }

  .color-picker input[type="color"] {
    width: 35px;
    height: 30px;
  }

  .bit-button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .tutorial-container h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
    
  }
  .input-container {
    flex-direction: row;
    gap: 2rem;
    margin-top: 10vh;
  }

  .bit-input {
    width: 65%;
    max-width: 300px;
  }

  .bit-button {
    padding: 0.7rem 1.2rem;
    font-size: 0.8rem;
    width: 100%;
  }

  .color-picker input[type="color"] {
    width: 30px;
    height: 26px;
    

  }
  
 
}