
.nav-container {
    position: relative;
    display: flex;
    justify-content: center; /* centra el contenido horizontalmente */
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: var(--color-bg);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    position: absolute;
    left: 2rem;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-primary);
}

.logout-button {


    position: absolute;
    right: 5rem;
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: 0.5rem 1.3rem;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    user-select: none;
}

.radio-button-container {
    display: flex;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}

.logout-button:hover {

    background-color: var(--color-secondary);
    color: var(--color-bg);
}

/* Si vols fer responsive */
@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        gap: 0.8rem;
    }
}.logout-confirm-only {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh; /* Ocupa toda la pantalla */
     background-color: #000; /* Fondo oscuro */
     color: white;
     gap: 1rem;
     text-align: center;
 }

.logout-buttons {
    display: flex;
    gap: 6rem;
}

.logout-buttons .cancel-button {
    background-color:var(--color-primary);
    color: black;
    width: 200px;

}

.logout-buttons .accept-button {
    background-color: #444;
    color: white;
    width: 200px;

}

@media (max-width: 768px) {
    .nav-container{
        top:  20px;
        flex-direction: column;
        align-items: center;
        padding: var(--spacing-sm);
        gap: var(--spacing-sm);
    }

    .logo {

        font-size: 1.25rem;
        color: var(--color-primary);
    }

    .logout-button {
        position: static;
        width: 100%;
        text-align: center;
    }

}
.nav-toggle {
    display: none;
    position: absolute;
    right: 1.5rem;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
    z-index: 1100;

}

/* Mobile menu */
.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--color-bg);
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
        display: none;
    }

    .nav-links.open {
        top: -20px;
        display: flex;
        animation: fadeInDown 0.3s ease forwards;
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-10%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .logout-button {
        width: 90%;
        text-align: center;
    }
}
