body {
    background-color: #000000;
    border: white 4px solid;
    overflow-y: hidden;
}
/* Asegura que el box-sizing incluya los bordes y padding en el tamaño total */
*, *::before, *::after {
    box-sizing: border-box;
}
h1{
    color: #fff;
    font-family: "Press Start 2P", cursive;
}

  /* Responsive */
  @media (max-width: 1024px) {
   

  }
  
  @media (max-width: 768px) {
   
  
  }
  
  @media (max-width: 480px) {
   
    .app-container {
        padding-bottom: 20px;
        margin-bottom: 20px;
        height: 80vh;
    }
  }
  .app-container {
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 80vh;
}