:root {
  /* Colores principales */
  --color-bg: #0f0f0f;
  --color-bg-secondary: #121212;
  --color-bg-button: #3b82f6;
  --color-bg-button-secondary: #2563eb;
  --color-card: #1a1a1a;
  --color-text: #ffffff;
  --color-accent: #4285f4;
  --color-gold: #f9d342;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;
  --color-primary: #3b82f6;
  --color-secondary: #1e40af;

  /* Extra (faltaban) */
  --color-surface: #1f2937;
  --color-muted: #d1d5db;

  /* Fuentes */
  --font-main: 'Orbitron', sans-serif;

  /* Espaciado */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* Dimensiones */
  --radius: 12px;
  --radius-card: 16px;

  /* Sombras */
  --shadow-card: 0 4px 10px rgba(0, 0, 0, 0.6);
}

@font-face  {
  font-family: Orbitron-Regular;
  src: url('../../gamedev-web-frontend_/src/assets/fonts/Orbitron/static/Orbitron-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Orbitron-Medium;
  src: url('../../gamedev-web-frontend_/src/assets/fonts/Orbitron/static/Orbitron-Medium.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Dosis-Regular;
  src: url('../../gamedev-web-frontend_/src/assets/fonts/Dosis/static/Dosis-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Dosis-Light;
  src: url('../../gamedev-web-frontend_/src/assets/fonts/Dosis/static/Dosis-Light.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

