.container {
    padding-top: 60vh;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Asegura el centrado vertical si es necesario */
    width: 100%;
}

.section {
    width: 100%; /* Ajusta el ancho si es necesario */
    max-width: 800px; /* Evita que sean demasiado anchas */
    padding: 30px;
    margin: 30px auto; /* Centra horizontalmente */
    background: #000;
    border: 3px solid #fff;
    box-shadow: 6px 6px 0 #fff;
    text-align: center; /* Centra el texto */
    transition: all 0.2s, box-shadow 0.3s ease-in-out;
    font-family: "Press Start 2P";
    color: #fff;
}

.section:hover {
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0 #fff;
}

.section:active {
    transform: translate(6px, 6px);
    box-shadow: 0 0 0 #fff;
}
